{#<p>{{ dump(tweet) }}</p>#}

<ul class="tp--list">
  {% for element in tweet %}
    <li class="tp--item">
      <div class="tp--item__date">{{ element.created_at }}</div>
{#      <div>{{ element.user.name }}</div>#}
      <div class="tp--item__tweet">{{ element.text}}
      
      {{ kint(element) }}
      
      {# {% set textElems = element.text|split(":") %}

      {{ kint(textElems) }} #}
      </div>
      <div class="tp--item__more" ><span>More information at:</span>  {{ element.source | raw }} </div>
    </li>
  {% endfor %}
</ul>

