{#<p>{{ dump(tweet.created_at) }}</p>#}

<ul class="tp--list">
  <li class="tp--item">
    <div class="tp--item__date">{{ element.created_at }}</div>
      <div class="tp--item__tweet">
        <span class="tp--item__user">{{ element.name }}</span>
        {{ element.message }}
      </div>
    <div>More information at:<span class="tp--item__more">{{ tweet.source|raw }}</span></div>
  </li>
</ul>
  <button class="tp--button">View all</button>
