{#<p>{{ dump(tweet) }}</p>#}

<ul>
  {% for element in tweet %}
    <li>
      <div>{{ element.created_at }}</div>
{#      <div>{{ element.user.name }}</div>#}
      <div>{{ element.text }}</div>
      <div>More informatio at: {{ element.source }}</div>
    </li>
  {% endfor %}
</ul>
